@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./card.css";
@import "./card-details.css";
@import "./edit-stock.css";
@import "./pop-up.css";

body {
  font-family: system-ui, sans-serif;
  height: auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  line-height: 1.5;
}
